/* Color Theme Swatches in Hex */
:root {
  --backgroundcolor: #E9F1F2;
--color-theme_img_1-2-hex: #D9078F;
--color-theme_img_1-3-hex: #A65BD9;
--color-theme_img_1-5-hex: #F2B05E;
--color-theme_img_1-1-hex: #F2BDD6;
}


/* Somehow there is a small gap if I make it 100vh */
.ai-picture {
  height: 100vh;
}

body {
  background-color: var(--backgroundcolor);
  overflow: clip; /* Hide scrollbars */
  display: flex;
}



